{% extends 'admin_layout.html' %}

{% block content %}
    <div class="section">
        <div class="container">
            {% if requests %}
                <div class="box">
                    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Номер заказа</th>
                            <th>Состав</th>
                            <th>Общая сумма</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cancel_request in requests %}
                            <tr>
                                <td>{{ cancel_request.pk }}</td>
                                <td>{{ cancel_request.order.pk }}</td>
                                <td>{{ cancel_request.order.order_products_list }}</td>
                                <td>{{ cancel_request.order.total_price }} рублей</td>
                                <td>
                                    <a class="button is-success is-small"
                                       href="{% url 'staff:cancel_requests' %}?action=confirm&pk={{ cancel_request.pk }}">
                                        <ion-icon name="checkmark"></ion-icon>
                                    </a>
                                    <a class="button is-danger is-small"
                                       href="{% url 'staff:cancel_requests' %}?action=cancel&pk={{ cancel_request.pk }}">
                                        <ion-icon name="close"></ion-icon>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="title has-text-centered">
                    Пока нет запросов
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}